<!DOCTYPE html>
{% extends 'layout/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
{% block content %}
<body data-bs-theme="dark" class="p-3 text-body bg-body">
  <div class="container mt-5">
      <div class="row">
          <h1>Abaut Me</h1>
          <p>Soy un programador autodidacta que se especializa en ciencia de datos y e-learning,
          busco desafios nuevos que me puedan entregar las mentes creativas para poder hacerlas
          realidad atravez e la programacion y la tecnologia.</p>
      </div>
  </div>


</body>
{% endblock %}
</html>