<!DOCTYPE html>
{% extends 'layout/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
{% block content %}
<body data-bs-theme="dark" class="p-3 text-body bg-body">

<div class="container mt-5">
    <div class="row">
        <h1>HOME</h1>
        <p>Bienvenido a mi pirmera pagina web, espero que sea de tu agrado y
        puedas ver un poco de el trabajo que puedo hacer y como lo hago.</p>
    </div>
</div>


</body>
{% endblock %}
</html>